@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative; /* my default */
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: #dfdfdf;
    display: flex; 
    /* child elements will go side by side */
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    height: 100%;
    margin-top: 5px;
}

.search-box{
    position: absolute;
    /* now we are trying to y-center an absolute element*/
    left: 50%;
    /*translateX(-50%): move me leftwards by 50% of my width, along the x-axis,
    translateY(-50%):move me upwards by 50% of my height, along the y-axis
    reference: https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element*/
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color:rgba(0,0,0,0.5);
    text-align: center;
    text-transform: capitalize;
}