@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 1;
   
}


.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.brand-img{
    height: 100%;
    margin-top: 5px;
}



.search-form{
    margin-bottom: 20px;
}


.search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color:rgba(0,0,0,0.5);
    text-align: center;
    text-transform: capitalize;
}

.nav-items{
    height: 22px;
    position: relative;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile{
    width: 22px;
    border-radius:50%;
    
}


.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border:1px solid #fdfdfd;
    padding: 10px;
    padding-right: 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    
    overflow: hidden;
    overflow-x: auto;

}

.status-wrapper::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex:0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding:3px;
    background: linear-gradient(45deg,rgb(255,230,0),rgb(255,0,128) 80%);

}


.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color:rgba(0,0,0,0.5)
}


.post{
    width: 100%;
    height: auto;
    background: #fff;
    border:1px solid #dfdfdf;
    margin-top: 10px;
}
.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username{
    width:auto;
    font-weight: bold;
    font-size: 14px;
    color:#000;
    margin-left: 10px;

}


.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .profile-pic{
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
}

.info .profile-pic img{
    border:none;
}

.post-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content{
    width:100%;
    padding:20px;
}

.likes{
    font-weight:bold
}

.description{
    margin:10px 0;
    font-size:14px;
    line-height:20px;
}


.description span{
    font-weight:bold;
    margin-right:10px;
}


.post-time{
    color:rgba(0,0,0,0.5);
    font-size:12px
}


.comment-wrapper{
    width:100%;
    height:50px;
    border:1px solid #dfdfdf;
    display:flex;
    justify-content:space-between;
    align-items:center
}

.comment-wrapper .icon{
   height:30px;
   border-radius:50%
}

.comment-box{
    width:80%;
    height:50px;
    border:none;
    outline:none;
    font-size:14px;
}

.comment-btn, .logout-btn, .follow-btn{
    width:70px;
    height:100%;
    background:none;
    border:none;
    outline:none;
    text-transform:capitalize;
    font-size:16px;
    color:rgb(0,162,255);
    opacity:0.5;
}

.comment-btn{
    font-weight: bold;
    padding:5px;
    opacity: 1;
    font-size: 12px;
}


.reaction-wrapper{
    width:100%;
    height:50px;
    display:flex;
    margin-top:-20px;
    align-items:center
}

.reaction-wrapper .icon{
    height:25px;
    margin:0;
    margin-right:20px;
}

.right-col{
    padding:20px;
}

.profile-card, .suggestion-card{
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic{
    flex:0 0 auto;
    padding: 0;
    background: none;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.profile-card .profile-pic img{
    border: none;
    width: 70px;
    height: 70px;
}

.profile-card .username, .suggestion-card .username{
    font-weight: 500px;
    font-size: 14px;
    color:#000;
    margin-bottom: 0;
}



.profile-card .sub-text, .suggestion-card .sub-text{
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    font-weight:500;
    margin-top: 2px;
    margin-bottom: 0;
    
}

.logout-btn, .follow-btn{
    opacity: 1;
    font-weight: 700;
    font-size:12px;
}


.suggestion-card .suggestion-pic{
    flex:0 0 auto;
    padding: 0;
    background: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.suggestion-card .suggestion-pic img{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.suggestion-text{
    font-size: 14px;
    color:rgba(0,0,0,0.5);
    font-weight: 700;
    margin: 30px 0;
}



/*medium screens*/
@media (max-width:1100px) {
    .right-col, .search-box{
        display: none;
    }

    .nav-wrapper, .wrapper{
        width: 90%;
    }


    .wrapper{
        display: block;
    }

}

/* small screens */
@media (max-width:500px) {

    .nav-items .icon{
        margin: 0 5px;
    }

    .post-img{
        height:300px
    }
    
}




/* Login */
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.main-container{
    display: flex;
    flex-grow: 1;
}


.main-content{
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 930px;
    flex-grow: 1;
}


.slide-container{
    height: 620px;
    flex-basis: 450px;
}

.slide-content{
    margin: 100px 0 0 150px;
    position: relative;
}

.slide-container img{
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
}

.slide-container img.active{
    opacity: 1;
    visibility: visible;
}




/* Login Form */

.form-container{
    flex-grow:1;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box{
    border: 1px solid #dfdfdf;
    background: #fff;
    border-radius: 3px;
}

.form-content{
    margin-bottom: 10px;
    padding: 10px;
}


.form-content .logo{
    text-align: center;
    height: 50px;
    width: 175px;
    margin: 10px auto 20px auto;
}

.form-content .logo img{
    max-width: 100%;
}


.login-form{
    padding-top: 25px;
    margin-bottom: 10px;
}

.form-group{
    margin: 0 40px 6px;
}

.login-input{
    height: 35px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    position: relative;
}

.login-input input{
    width: 100%;
    height: 100%;
    padding: 9px 8px 7px;
    border:0;
    outline: 0;
    background: #fafafa;
    color: #000;
    font-size: 12px;
}

.login-input input::placeholder{
    font-size: 12px;
}

.btn-group{
    padding: 8px 40px;
    width: 100%;
}

.login-btn{
    width: 100%;
    border: 1px solid transparent;
    outline: 0;
    background: rgb(0,162,255);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}



.or{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.or hr{
    width: 35%;
    margin: 0 10px;
}

.or span{
    color:#919191;
}

.goto{
    padding: 10px;
    margin-bottom: 10px;
}

.goto p{
    font-size: 14px;
    margin: 15px;
    text-align: center;
}

.goto a{
    text-decoration: none;
    color: rgb(0,162,255);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.app-download{
    display: flex;
    flex-direction: column;
}

.app-download p{
    font-size: 14px;;
    line-height: 18px;
    text-align: center;
    margin: 10px 20px;
}


.store-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.store-link a img{
    height: 40px;
}

.store-link a:nth-child(1){
    margin-right: 8px;
}


.footer{
    padding-bottom: 52px;
    padding-top: 25px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.links a{
    text-decoration: none;
    color:#000;
    font-size: 13px;
    line-height: 18px;
    margin: 0 8px 12px 8px;
}

.copyright{
    padding: 12px 0;
    color:#000;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

@media only screen and (max-width: 850px){
    .slide-container{
        display: none;
    }

}

@media only screen and (max-width:500px){
    .main-container{
        margin-top:0;
    }
    .box{
        border:0
    }
}



/* dark mode */

.dark{
    background: #151515;
    border: 1px solid #262626;
    color: #dfdfdf;
}

.dark-mode-link{
    color: #fff !important;
} 



/* profile page */

.profile-header{
    margin-top: 30px;
}

.profile-container{
    max-width: 95.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.profile-btn{
    display: inline-block;
    font:inherit;
    background: none;
    border: none;
    color:inherit;
    padding: 0;
    cursor: pointer;
}

.profile-btn:focus{
    outline: 0.5rem auto #4d90fe;
}

.profile{
    padding: 5rem 0;
}

.profile::after{
    content: "";
    display: block;
    clear: both;
}

.profile-image{
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}
.profile-image img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}

.profile-user-settings, .profile-stats,.profile-bio{
    float:left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings{
    margin-top: 1.1rem;
}

.profile-user-name{
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
}

.profile-edit-btn{
    font-size: 1.2rem;
    line-height: 1.6;
    border: .1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn{
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats{
    margin-top: 2.3rem;
}


.profile-stats li{
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}


.profile-bio{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name, .profile-stat-count, .profile-edit-btn{
    font-weight: 600;;
}



/* gallery */

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}


.gallery-item{
    position: relative;
    flex: 1 0 22rem;
    margin:1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info
{

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}


.gallery-item-info{
    display: none;
}

.gallery-item-info li{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
}


.gallery-item-likes{
    margin-right: 2.2rem;
}

.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media screen and (max-width:800px) {

    .profile{
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after{
        display: none;
    }

    .profile-image, .profile-user-settings,.profile-bio, .profile-stats{
        float: none;
        width: auto;
       margin: 5px auto;
    }

    .profile-stats li{
       display: block;
    }


    .profile-image{
        margin: 0 auto;
    }

    .profile-user-name{
        font-size: 20px;
    }

   

}






.follow-btn-user-profile{
    display: inline-block;
    background: rgb(0,162,255);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    width: 450px;

}



/* Camera */

.camera-container{
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}


.camera{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.camera-image{
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.camera-form{
    width: 50%;
    margin: 5px auto;
}

.upload-btn{
    background: rgb(0,162,255);
    color: #fff;
    width: 70px;
    height: 100%;
    font-size: 16px;
    border: none;
    display: block;
    outline: none;
    margin: 0 auto;
    border-radius: 3px;
}


.search-component{
    display: flex;
}

.search-btn{
    color: rgb(0,162,255);
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    margin-left: 10px;
}


.search-result-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.search-result-item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.search-result-item p{
    margin: 5px 0 0 5px;
    font-size: 14px;
}


.search-result-item span{
    color: #a5a5a5;
    font-size: 12px;
    margin: 20px 0 0 20px;
}

.search-result-item-btn{
    width: 100%;
    margin-top: 10px;
}

.search-result-item-btn button{
    color: rgb(0,162,255);
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    float: right;
}



/* edit user profile */

.edit-profile-image{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin: 5px;
    object-fit: cover;
}



.update-profile-btn{
    display: inline-block;
    background: rgb(0,162,255);
    color: #fff;
    font-size: 16px;
    padding: 5px;
    border: none;
    text-align: center;
    outline: none;
    width: 100%;

}



/* single post page*/
.single-post-container{
    margin-top: 5px;
}

.delete-post-btn{
    background: #fff; 
    color:rgb(0,162,255); 
    border: none; 
    outline:none; 
    font-size:16px;
    margin-left:7px;
}

/* discover */

.discover-container{
    max-width: 95.5rem;
    margin: 25px auto;
    padding: 0 2rem;
}



/* Popup window */

.popup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.4);

}

.popup-window{
    background: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close-popup{
    color:#aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
   
}


.close-popup:hover, .close-popup:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-window a{
    text-decoration: none;
    color: rgb(0,162,255);
    font-size: 16px;
    background: none;
    display: block;
    margin: 5px 2px;
    padding: 5px;

}

.comment-element{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.comment-element img{
    height: 30px;
    border-radius: 50%;
}

.comment-element p{
    margin-top: 10px;
    word-break: break-all;
    padding: 10px;
}

.comment-element span{
    font-size: 10px;
    padding: 10px;
}


.heart{
    background: none;
    border: none;
}


/*Stickers*/

.sticker-description{
	font-size: 18px;
	text-align: center;
	margin: 10px 0;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

.stickers-box{
	display: flex;
	align-items: center;
	justify-content: left;
	width: 100%;
	border: 1px solid #F9F5EB;
	border-radius: 3px;
}

.stickers-container{
	display: flex;
	align-items: center;
	width: calc(18% - 1rem);
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.stickers-container img{
	padding: 5px;
}

.canvas-container{
	border-radius: 10px; 
    box-shadow: 0 5px 40px #333;
    margin: 30px 0;
    position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.canvas-container img{
	position:absolute;
	z-index:1;
}

#myCanvas{
	position:relative;
    z-index:20;
}

.capture-btn{
	background: linear-gradient(0deg, rgb(192, 192, 228), rgb(203, 232, 203));
	color: rgb(61, 60, 60);
	width: 120px;
	height: 30px;
	font-size: 16px;
	border: none;
	display: block;
	margin: 10px auto;
	border-radius: 5px;
}

canvas {
	float: center;
	width: calc(100%);
	margin-left: calc(18%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.thumbnails-box{
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	width: calc(30%);
	height: calc(100%);
	border: 1px solid #F9F5EB;
	border-radius: 3px;
	font-weight: bold;
	font-size: 14px;
}

.thumbnails-box p{
	padding-bottom: 5px;
}