@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;

}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index:1;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    height: 100%;
    margin-top: 5px;
}

