@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline:0;
    border: 0;
    /* border: solid 1px black; */
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative; /* my default */
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: #dfdfdf;
    display: flex; 
    /* child elements will go side by side */
    justify-content: center;
    padding: 5px 0;
}

/* We add a wrapper for the 70% width mainly*/
.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* this will make sure whatever we put in the wrapper is spaced */
    align-items: center;
}

.brand-img{
    height: 100%;
    margin-top: 5px;
}

.search-form{
    margin-bottom: 20px;
}

.search-box{
    position: absolute;
    /* now we are trying to y-center an absolute element*/
    left: 50%;
    /*translateX(-50%): move me leftwards by 50% of my width, along the x-axis,
    translateY(-50%):move me upwards by 50% of my height, along the y-axis
    reference: https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element*/
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color:rgba(0,0,0,0.5);
    text-align: center;
    text-transform: capitalize;
}

.nav-items{
    height: 22px;
    position: relative;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile{
    width: 22px;
    border-radius: 50px;    
}

.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    /* ensures left and right col are right size*/
    grid-template-columns: 60% 40%;
    gap: 30px;
    border: 2px;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.status-wrapper{
    width: 100%;
    height: 120px;
    background: white ;
    border: 1px solid lightgray;
    padding: 10px;
    padding-right: 0;
    border-radius: 2px;
    display: flex;
    align-items: center;

    /* when you resize, the image disappears - no overflow*/
    overflow: hidden;
    /* this will allow for the scrollbar (overflow: scroll also possible)*/
    overflow-x: auto;
}

.status-wrapper\::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    border: 2px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%; /* image cropped into a circle*/
    overflow: hidden;
    /* child is 100%, so only thing we see is the padding of the parent*/
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255,0,128));
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0,0,0,0.5);
}

.right-col{
    display: flex;
    flex-direction: column;
}

.post{
    width: 100%;
    height: fit-content;
    background: white;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username{
    width: auto; /* depends on wrapper and user*/
    font-weight: bold;
    font: 14px;
    color: black;
    margin-left: 10px;
}

.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex; /* items go side by side */
    align-items: center; 
}

/* put profile pic small for post area*/
.info .profile-pic{
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
}

.post-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content{
    width: 100%;
    padding: 20px;
}

.likes{
    font-weight: bold;
}

.description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post .time{
    color: rgba(0,0,0,0.5);
    font-size: 12px;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    height: 30px;
    border-radius: 45%;

}

.comment-box{
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn, .logout-btn, .follow-btn{
    width: 70px;
    height: 100%;
    margin-right: 10px;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0,162,255);
    opacity: 50%;
}

.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

/* to get the icons separate and better positionned*/
.reaction-wrapper .icon{
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.right-col{
    padding: 20px;

}

/* GENERAL RULE: when defining a new big container set:
 - width (usually a %)/ height (usually px), 
 - display (by default: flex), 
 - justify-content (center or space between), 
 - align-items (center)
 - padding
 - border
 - add wrapper if you need to leave some space always within container (width 70%...)
 */

.profile-card, .suggestion-card{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic{
    /* flex: flex-grow flex-shrink flex-basis 
    flex-grow: how much it grows compared to other flex items
    flex-shrink: how much it shrinks
    flex-basis: dimension of items.
    flex: 0 0 auto means then: no grow or shrink, size according to height/width
    similiar to flex: initial, except no shrinking.
    */
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.profile-card .profile-pic img{
    border: none;
    width: 70px;
    height: 70px;
}

.profile-card .username, .suggestion-card .username{
    font-weight: 500px;
    font-size: 14px;
    color: black;
    /* always edit design at the lowest level possible */
    margin-bottom: 0;
}

.profile-card .sub-text, .suggestion-card .sub-text{
    color: lightgrey;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.logout-btn, .follow-btn{
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
     
}

.suggestion-card .suggestion-pic{
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.suggestion-card .suggestion-pic img{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.suggestion-text {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    font-weight: 700;
    margin-top: 30px 0;
}

/* --- RESPONSIVE ____ */

/* FOR MEDIUM SCREENS < 1100px */

/* to deal with responsive, hide right side when small */
/* applies the following only if condition fulfilled */
@media (max-width: 1100px){
    .right-col, .search-box{
        display: none;
    }

    .nav-wrapper, .wrapper{
        width: 90%;
        /* default was display grid, and no right col now!*/
        display: block;
    }
}

/* FOR SMALL SCREENS <500px 
reduce icons margins, image
*/
@media (max-width: 500px){

    .nav-items .icon{
        margin: 0 5px;
    }
    .post-img{
        height: 300px;
    }
}

/* --- LOGIN ____ */
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* why use flex-grow vs relative sizing there? 
   when I just want container child to grow within that 
*/
.main-container{
    display: flex;
    flex-grow: 1;
}

.main-content{
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    flex-grow: 1;
}

.slide-container{
    height: 600px;
    flex-basis: 450px;
}

.slide-content{
    margin: 100px 0 0 150px;
    position: relative;
}

.slide-container img{
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
}

.slide-container img.active{
    opacity: 1;
    visibility: visible;
}

/* LOGIN FORM */

.form-container{
    /* TD: Why flex grow here?*/ 
    flex-grow: 1;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box{
    border: 1px solid #dfdfdf;
    background: white;
    border-radius: 3px;
}

.form-content{
    margin-bottom: 10px;
    padding: 10px;
}

.form-content .logo{
    text-align: center;
    height: 50px;
    width: 175px;
    margin: 10px auto 20px auto;
}

.form-content .logo img{
    max-width: 100%;
}

.login-form {
    padding-top: 25px;
    margin-bottom: 10px;
}

.form-group{
    margin: 0 40px 6px;
}

.login-input{
    height: 35px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    position: relative;
}

.login-input input{
    width: 100%;
    height: 100%;
    padding: 9px 8px 7px;
    border: 0;
    outline: 0;
    background-color: #fafafa;
    color: black;
    font-size: 12px;
}

.login-input input::placeholder{
    font-size: 12px;
}

.btn-group{
    width: 100%;
    padding: 8px 40x; 
}

.login-btn{
    width: 100%;
    border: 1px solid transparent;
    outline: 0;
    background: rgb(0,162,255);
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.or{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.or hr{
    width: 35%;
    margin: 0 10px;
}

.or span{
    color: #919191;
}

.goto{
    padding: 10x;
    margin-bottom: 10px;
}

.goto p{
    font-size: 14px;
    margin: 15px;
    text-align: center;
}

.goto a{
    text-decoration: none;
    color: rgb(0,162,255);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.app-download{
    display: flex;
    flex-direction: column;

}

.app-download p{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 10px 20px;
}

.store-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.store-link a img{
    height: 40px;
}

.store-link a:nth-child(1){
    margin-right: 8px;
}

.footer{
    padding-bottom: 52px;
    padding-top: 25px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    line-height: 18px;
    margin: 0 8px 12px 8px;
}

.copyright{
    padding: 12px 0px;
    color: black;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}

/* --- RESPONSIVE FOR LOGIN ____ */

/* FOR MEDIUM / SMALL SCREENS, hide slide only login */

@media only screen and (max-width: 850px){
    .slide-container{
        display: none;
    }
}
/* FOR VERY SMALL SCREENS <500px */

@media only screen and (max-width: 500px){
    .main-container{
        margin-top: 0;
    }
    .box{
        border: 0;
    }
}

/* DARK MODE */

.dark{
    background: #151515;
    border: 1px solid #262626;
    color: #dfdfdf;
}

.dark-mode-link{
    color: white !important;

}

/* _________________ PROFILE PAGE ___________________*/

/* each div or element has a class, and you define its css in its order of appearance*/
.profile-header{
    margin-top: 30px;
}

.profile-container{
    max-width: 95.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* TD: review all CSS, deactivate parts and guess what will happen */
.profile-btn{
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.profile-btn:focus{
    outline: 0.5rem auto #4d90fe;
}

.profile{
    padding: 5rem 0;
    display: block;
}

.profile::after{
    content: "";
    display: block;
    clear:both; 
}

.profile-image{
    float: left;
    width: calc(33.3% - 2rem);
    display: flex;
    justify-self: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-user-settings, .profile-stats, .profile-bio{
    float: left;
    width: calc(66.6666% - 1.2rem);
}

.profile-user-settings{
    margin-top: 1.1rem;
    width: 35%;
    text-align: center;
}

.profile-user-name{
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
}

.profile-edit-btn{
    font-size: 1.2rem;
    line-height: 1.6rem;
    border: .1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn{
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats{
    margin-top: 2.3rem;
}

.profile-stats li{
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-bio{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
    text-align: center;
    width: 100%;
}

.profile-real-name, .profile-stat-count, .profile-edit-btn{
    font-weight: 600;
}

/*  PROFILE GALLERY */

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding: 3rem;
}

.gallery-item{
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: white;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.gallery-item-info{
    display: none;
}

.gallery-item-info li{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
}

.gallery-item-likes{
    margin-right: 2.2rem;
}

.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:800px){

    .profile{
        display: flex; 
        flex-wrap: wrap;
        padding: 4rem 0;
    }
    
    .profile::after{
        display:none;
    }

    .profile-image, .profile-user-settings, .profile-bio, .profile-stats{
        float: none;
        width: auto;
        margin: 5px auto;
    }

    .profile-stats li{
        display: block;
    }

    .profile-image{
        margin: 0 auto;
    }

    .profile-user-name{
        font-size: 20px;
    }
}

.follow-btn-user-profile{
    display: inline-block;
    background-color: rgb(0,162,255);
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    width: 450px;
}

/* _________________ CAMERA PAGE ___________________*/

.camera-container{
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.camera{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
}

.camera-image{
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: white;
    cursor: pointer;
    text-align: center;
}

.camera-form{
    width: 50%;
    margin: 5px auto;
}

.upload-btn{
    background: rgb(0,162,255);
    color: white;
    width: 70px;
    height: 100%;
    font-size: 16px;
    border: none;
    display: block;
    outline: none;
    margin: 0 auto;
    border-radius: 3px;
}

/* _________________ SEARCH PAGE ___________________*/

.search-component{
    display: flex;
}

.search-btn{
    color: rgb(0,162,255);
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    margin-left: 10px;
}

.search-result-item{
    display: flex;
    justify-content: flex-start; /* to start from left */
}

/* when an img, by default go for fixed width and height */
.search-result-item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.search-result-item p{
    margin: 8px 0 0 8px;
    font-size: 14px;
}

.search-result-item span{
    color: #a5a5a5;
    font-size: 16px;
    margin: 20px 0 0 20px;

}

.search-result-item-btn{
    width: 100%;
    margin-top: 10px;
} 

.search-result-item-btn button{
    color: rgb(0,162,255);
    background: 0;
    outline: 0;
    border: 0;
    font-size: 14px;
    float: right;
} 

/* _________________ EDIT USER PROFILE PAGE ___________________*/

.edit-profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 5px;
}